.dialog {
  display: inline-block;
  @include option(padding-top, 20px);
  @include option(padding-bottom, 20px);
  font-variation-settings: "wght" 500;
  text-decoration: none;
  color: $BLACK;
  transition: .3s ease-in-out;

  &_active {
    color: $BLUE;
  }
}