.dialog {
  display: inline-block;
  @include option(margin, 20 0);
  @include option(padding, $P / 2 $P);
  font-variation-settings: "wght" 500;
  text-decoration: none;
  color: $BLACK;
  background: transparent;
  transition: .5s ease-in-out;
  box-sizing: border-box;
  &_active {
    background: rgba($BLUE, .2);
    color: $BLUE;
  }
}