.button {
  display: flex;
  @include option(padding, 10 20);
  @include option(border-radius, 10);
  background: $BLUE;
  border: none;
  box-sizing: border-box;

  &__text {
    @include option(font-size, 16);
    color: $WHITE
  }
}