@import "Dialog/Dialog";
@import "Message/Message";

.page-dialogs {
  display: grid;
  grid-template-columns: 2fr 7fr;
  @include option(padding, 0  $P);
  @include option(grid-gap, 0  $P);
  @include option(font-size, 18);

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__wall {
    @include option(height, 500);
  }

  &__messages {
    width: 100%;
    height: 100%;
    @include option(padding, $P $P/3 $P $P);
    @include option(border-width, 2);
    border: solid gray;
    box-sizing: border-box;
    &-enter {
      opacity: 0;
    }
    &-enter-active,
    &-enter-done,
    &-exit {
      opacity: 1;
      transition: .3s ease-in-out;
    }
    &-exit-active {
      opacity: 0;
      transition: .3s ease-in-out;
    }
  }

  &__writer {
    @include option(margin, 30 0 0);
  }




}