/**
 * breakpoints
 */
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1440px;


$P: 30;

/**
 * COLORS
 */
$WHITE: #ffffff;
$BLACK: #000000;
$BLUE: #29477e;


/**
 * OTHER
 */
//$MOBILE-W: 360px;
//$MOBILE-H: 640px;
//$TABLET: 768px;
//$TABLET-L: 1024px;
//$DESKTOP-W: 1920px;
//$DESKTOP-H: 1080px;