/**
 * breakpoints
 */
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1440px;


$P: 30;

/**
 * COLORS
 */
$BG: #edeef0;
$GRAY: #e1e1e1;
$WHITE: #ffffff;
$BLACK: #000000;
$BLUE: #29477e;
$BLUE-L: #a0b8e6;

$GRAY-TEXT: #6D7885;
//$BLUE-BG: #f5f5f5;


/**
 * OTHER
 */
//$MOBILE-W: 360px;
//$MOBILE-H: 640px;
//$TABLET: 768px;
//$TABLET-L: 1024px;
//$DESKTOP-W: 1920px;
//$DESKTOP-H: 1080px;