.header {
  grid-area: header;
  align-self: start;
  display: flex;
  align-items: center;
  @include option(padding, $P);
  @include option(height, 70);
  background: coral;

  &__title {
    display: flex;
    align-items: center;
    @include option(font-size, 32);
    font-variation-settings: "wght" 600, "wdth" 100;
    line-height: 1.2;
    color: $WHITE;
    span {
      display: flex;
      justify-content: center;
      @include option(width, 38);
      @include option(height, 38);
      background: #29477e;
    }
  }
}