.page {
  display: flex;
  flex-direction: column;
  @include option(width, 1200);
  @include option(font-size, 16);
  height: 100%;
  background: $WHITE;
  overflow: auto;


  section {
    //height: auto;
    //min-height: 100%;
  }

}