.page {
  @include option(width, 1200);
  @include option(padding, $P);
  @include option(font-size, 16);
  min-height: 100%;
  background: $WHITE;
  box-sizing: border-box;


  section {
    min-height: 100%;
  }

}